.header {
  background-color: #fff;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* position: sticky; */
  top: 0;
  z-index: 100;
}
.logo {
  height: 100px;
}

@media screen and (max-width: 640px) {
  .header {
    justify-content: space-around;
  }
}
