.header {
  background-color: #2d2d2d;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 45px;
}

@media screen and (max-width: 640px) {
  .header {
    justify-content: flex-end;
    padding-right: 13px;
  }
}
